#title{
	font-size: 2rem;
	text-align: center;
	line-height: 2rem;
}

.menu-object{
	display:block;
	font-size: 16px;
	text-align: center;
	margin: auto;
	width: 300px;
	height: 75px;
	
	margin-top: 2rem;
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 70px;
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
}

.tauler{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 1rem;
  border: 3px solid green;
}

.cartes{
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-auto-rows: 7rem;
  gap: 2rem;
}