body{
	background-color: #1C1C1C;
}

#tile{
	text-align: center;
    font-family: "Times New Roman";
}

#logo{
	display: block;
	margin: auto;
}

.menu-object{
	display:block;
	background-color: #0080FF;
	border-radius: 2rem 2rem 2rem 2rem;
	font-size: 1.5rem;
	text-align: center;
	margin: auto;
	width: 30rem;
	height: 4rem;
	color: white;
	margin-top: 2rem;
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 1rem;
	width: 27rem;
	height: 5rem;
}

button.menu-object:hover:not(:active){
	font-size: 1.5rem;
	width: 25rem;
	height: 5rem;
}

.tauler{
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 1rem;
  border: 1.5rem solid green;
}

.cartes{
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-auto-rows: 7rem;
  gap: 2rem;
}