/* Common element [Game menu | In game menu] */

body{
	background-color: #2E2E2E;
}

/* Elements from Game Menu */

#logo{
	display: block;
	margin: auto;
}

.menu-object{
	display:block;
	background-color: #0080FF;
	border-radius: 2rem 2rem 2rem 2rem;
	border-color: #FFFFFF;
	font-size: 1.5rem;
	text-align: center;
	margin: auto;
	width: 30rem;
	height: 4rem;
	color: white;
	margin-top: 2rem;
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 1.6rem;
	width: 27rem;
	height: 5rem;
}

button.menu-object:hover:not(:active){
	font-size: 1.5rem;
	width: 25rem;
	height: 5rem;
	box-shadow: 0 0 1rem #A9E2F3;
}

/* Elements in Game */

#title{							
	text-align: center;
    font-family: "Times New Roman";
	color: white;
}

.buton{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	padding: 1rem 3rem;
	width: 7rem;
	background-color: #0080FF;
	border-radius: 2rem 2rem 2rem 2rem;
	text-align: center;
	text-decoration: none;
	font-size: 1.3rem;
	color: white;
}

.buton:hover:not(.active){
	background-color: #2E9AFE;
}

.cartes{
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-auto-rows: 7rem;
  gap: 2rem;
  justify-content: center;
}

.cartes img{
	box-shadow: 0 0 1rem #A9E2F3;
}