<!DOCTYPE html> 
<html>
	<head>
		<link rel="stylesheet" href="../styles/opcions.css">
		<script src="../js/loader.js"></script>
		<title> My first game - Options </title>
	</head>
	<body>
		
		<h1 class="title">Options menú</h1>
		
		<div class="options_id">
			
			<div class="cardsOpt">

				<p class="cardsOpt_Title">Cards</p>
				<label for="labelnumber">Number of cards:</label>
				<input type="number" id="labelnumber" v-model="num">
			</div>

			<div class="dificultyOpt">

				<p class="dificultyOpt_Title">Dificulty</p>
				<input type="radio" id="easy" value="easy" v-model="dificulty" checked>
				<label for="easy">Easy</label>
				<input type="radio" id="normal" value="normal" v-model="dificulty" >
				<label for="normal">Normal</label>
				<input type="radio" id="hard" value="hard" v-model="dificulty" >
				<label for="hard">Hard</label>
			</div>

			<div class="modeOpt">

				<p class="modeOpt_Title">Mode</p>
				<input type="radio" id="mode_easy" value="mode_easy" v-model="mode" checked>
				<label for="mode_easy">Easy</label>
				<input type="radio" id="mode_normal" value="mode_normal" v-model="mode" >
				<label for="mode_normal">Normal</label>
				<input type="radio" id="mode_hard" value="mode_hard" v-model="mode" >
				<label for="mode_hard">Hard</label>
			</div>

			<button class="menu-object" v-on:click="save"> Save </button>
			<button class="menu-object" v-on:click="discard"> Discard </button>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="../js/options.js"></script>
</html>

