body{
	background-color: #1C1C1C;
}

h1, h2 {
  text-align: center;
  font-family: "Times New Roman";
}

p {
	font-family: "Georgia";
}

.header {
  padding: 1rem;
  text-align: center;
  background-image: url("../resources/header.png");
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
  font-size: 1rem;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 1rem #000000;
}
.description{
	margin: auto;
	width: 75%;
}

.body-web {
	background-color: #E6E6E6;
	height: 24rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.game{
    display: flex;
    margin: 1rem 0.1rem 1rem 0.1rem;
    padding: 1rem 3rem 1rem 3rem;
    background-color: #333333;
    border-radius: 2rem 2rem 2rem 2rem;
	color: white;
}

.game h3{
  font-size: 1.5rem;
}

.game img{
    padding-right: 3rem;
}

.game a{
  background-color: #0080FF;
  border-radius: 2rem 2rem 2rem 2rem;
  color: white;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.4rem 0.2rem;
}

.game a:hover:not(.active){
	background-color: #2E9AFE;
}