body{
	background-color: #E0F2F7;
}

h1, h2 {
  text-align: center;
  font-family: "Times New Roman";
}

p {
	text-align: center;
	font-family: "Georgia";
}

.inici{
	margin: auto;
	width: 75%;
	padding-top: 0.1rem;
}

.llista_jocs{
	margin: auto;
	width: 50%;
	text-align: center;
	padding-top: 0.1rem;
}

.boto{
	background-color: #A9D0F5;
	color: black;
	text-align: center;
	font-size: 1.5rem;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 3rem 1rem 3rem;
	border: 2rem;
	border-radius: 25rem;	
}