/* CSS Ranking */

body{
	background-color: #2e2e2e;
}

#title{					
	display: block;		
	text-align: center;
    font-family: "Times New Roman";
	color: white;
}



/*--- BUTTONS ---*/

.menu-object{
	display:block;
	background-color: #0080FF;
	border-radius: 2rem 2rem 2rem 2rem;
	border-color: #FFFFFF;
	font-size: 1.5rem;
	text-align: center;
	margin: auto;
	width: 30rem;
	height: 4rem;
	color: white;
	margin-top: 2rem;
}

button.menu-object:active{
	font-size: 1.6rem;
	width: 27rem;
	height: 5rem;
}

button.menu-object:hover:not(:active){
	font-size: 1.5rem;
	width: 25rem;
	height: 5rem;
	box-shadow: 0 0 1rem #A9E2F3;
}